<h2>My Communities</h2>
<div id='my_communities' class='well'>
  <ol>
    <!--TODO: to refactor the following erb code line to use partial template...-->
    <%#=raw @communities.map {|community|markup_community(community)}.join() %>
    <%= render @communities %>
  </ol>
</div>