.comment_form_of_item {
  display:none;
}

.comments {
  padding-left:1em;
  margin-bottom:1em;
  margin-top:.5em;
}
.comment {
  background-color: #f7f7f7;
  margin-bottom:.3em;
  padding:.3em .5em;
  .info {
    font-size:12px;
    text-align: right;
    color:#999999;
    font-style: italic;
  }
}