a.brand {
  font-weight:bold !important;
  font-style: italic;
}
.form-actions {
  margin-bottom:0 !important;
}
form {
  margin-bottom:0 !important;
  margin-top:1em !important;
}
.note-editor {
  background-color: white;
}