a:hover{
  text-decoration: none !important;
};
a.brand {
  font-weight:bold !important;
  font-style: italic;
}
.form-actions {
  margin-bottom:0 !important;
}
form {
  margin-bottom:0 !important;
  margin-top:1em !important;
}
textarea { word-wrap:break-word; }

.fixed-label {
   margin-bottom:2em;
   padding-left:190px;
  @media (max-width: 480px) { 
    padding-left:0;
  }
}
.carousel {
  margin-bottom:0;
  color:#999999;
  .caption {
    font-style:italic;
    font-size:11px;
  }
  .item.active {
    margin-bottom:0;
  }
  img { margin: 0 auto; margin-bottom:.3em;}
}
.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }
.carousel-indicators { display:none;}

.ajax_flash_message {
  border:1px solid darkgreen;
  padding:.5em 1em;
  background-color: rgba(52, 255, 111, 0.14);
}

.will_be_destroyed {
  border: 1px dashed red;
}
.just_be_added {
  border: 1px dashed green;
}


#editor-button-bar {
  background-color: white;
  border:1px solid #d3d3d3;
}

#editor-preview, #editor-output {
  overflow:auto;
  border:1px solid #d3d3d3;
  padding:.5em 1em;
  background-color: white;
  margin-bottom:1em;
  height:330px;
  p:last-child {
    margin-bottom:0;
  }
}

#editor-output {
  padding: 0;
  pre {
    background-color: white;
    border:0;
    code {
    }
  }
    
}

#editor-help-panel {
  display:none;
  border:1px solid #d3d3d3;
  padding: .5em 1em;
  background-color: #caddff;
  .spaces { background-color: #fecacb;}
}

ul.nav {
  margin-bottom: 0;
}

token-input-dropdown, token-input-dropdown-facebook, token-input-dropdown-mac,
ul.token-input-list, ul.token-input-list-facebook, ul.token-input-list-mac {
  width:100% !important;
}

