<!--TODO: to refactor the following erb code line to use list_of_communities helper method-->
<!--app/helpers/communites_helper.rb-->


<%= markup_community(community) %>
<!-- <li><%#= link_to community.name, community_path(community) %></li> -->
