$(".community_form form")[0].reset();
$(".community_form ul").remove();
<% if @community.errors.empty? %>  
  $("#my_communities_size").html("<%= @communities_joined.size %>");
  $("#community_list").append("<%=j raw(markup_community(@community)) %>");
  $("a[rel~=tooltip], .has-tooltip").tooltip({html: true});
<% else %>
  $(".community_form").append("<ul><%=raw @community.errors.full_messages.map{|error|"<li class='error'>#{error}</li>"}.join()%></ul>");
<% end %>

